PORT=5000

MONGO_URI=mongodb+srv://nushaatbd_db_user:<db_password>@nushaat.clcj549.mongodb.net/?appName=nushaat

JWT_SECRET=NusHaat_2026_SuKabir_Secret_Key_123456

CLOUDINARY_CLOUD_NAME=daf21yu47

CLOUDINARY_API_KEY=432154868979178

CLOUDINARY_API_SECRET=B1ihtDLGi866VkSzJHdp10mzS60